@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Chakra+Petch&family=Fredoka+One&family=Rubik+Beastly&family=Space+Mono&display=swap');

body {
    background-color: black;
    color: ghostwhite;
    margin: 1em 5em 1em 5em;
    padding: 8px 4px;
    font-size: 16px;
    font-family: 'Fredoka one', fantasy, sans-serif;
}

header {
    border-bottom: 4px double ghostwhite;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    height: 7.8em;
    display: inline-block;
}

div#logoContainer {
    height: 7.8em;
    float: left;
    width: 25%;
    padding-top: 1.5em;
}

img#logo {
    float: left;
}

header h1 {
    width: 49%;
    float: left;
    font-family: 'Chakra Petch', fantasy, sans-serif;
    font-size: 3em;
    margin: 0 auto;
    padding-top: .2em;
}

header p {
    width: 49%;
    float: left;
}

.clear {
    clear: both;
}

div.headerIcons {
    width: 100%;
    float: right;
    display: block;
    box-sizing: border-box;
    font-size: 2em;
    text-align: right;
    padding-right: 2em;
    position: absolute;
    top: 5%;
}

header i {
    margin: .4em;
}

main {
    margin: 0 1em;
}

nav {
    border-bottom: 4px double ghostwhite;
}

    nav ul li {
        display: inline-block;
        padding-right: 2em;
    }

a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: ghostwhite;
}

.headline {
    text-align: center;
}

section#top {
    background: url(../images/akin-cakiner-sfp4jUfgLhg-unsplash.jpg) no-repeat center center fixed;
}

h1 {
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}

div#aboutUs {
    /*height: 400px;*/
    width: 100%;
}

    div#aboutUs div:first-child {
        float: left;
        width: 20%;
        padding: 0 0 0 4em;
    }

    div#aboutUs div:last-child {
        float: left;
        width: 80%;
    }

        div#aboutUs div:last-child p {
            max-width: 800px;
            width: 80%;
        }

img#tigerPic {
    width: 100%;
    max-width: 220px;
    /*height: 380px;*/
    /*margin: 1em 1em 1em 4em;*/
    border: 4px double ghostwhite;
    /*object-fit: contain cover;*/
}

/******************************************************************************************************* Why Choose Us*/

#chooseUs {
    float: left;
    width: 100%;
}

    #chooseUs h1 {
        width: 100%;
    }

h3.usText {
    text-decoration: underline;
    height: 40px;
}

p.usText {
    /*height: 342px;*/
    margin: 0 auto;
}

h3.usText, p.usText {
    line-height: 2;
}

section#fourSquare {
    width: 98%;
    margin: 0 auto;
}

div#homeTopHalf {
    display: block;
}

div#homeTopLeftImage {
    float: left;
    width: 49%;
    object-position: center;
    border: 4px double ghostwhite;
}

img#topLeft {
    width: 100%;
    height: auto;
}

div#homeTopRightText {
    width: 49%;
    height: auto;
    float: right;
    line-height: 2;
}

div#homeBottomHalf {
    display: block;
}


div#homeBottomLeftText {
    width: 45%;
    height: auto;
    line-height: 2;
    float: left;
}

div#homeBottomRightImage {
    float: right;
    width: 49%;
    object-position: center;
    border: 4px double ghostwhite;
}

img#bottomRight {
    width: 100%;
    height: auto;
}

.contactInfo1 {
    text-align: center;
    border-top: 2px solid ghostwhite;
    border-bottom: 2px solid ghostwhite;
    margin: 0 30% 0 30%
}

.contactInfo2 {
    text-align: center;
    border-top: 2px solid ghostwhite;
    border-bottom: 2px solid ghostwhite;
    margin: 10px 30% 0 30%
}

.contactInfo3 {
    text-align: center;
    border-top: 2px solid ghostwhite;
    border-bottom: 2px solid ghostwhite;
    margin: 10px 30% 0 30%
}

.contactInfo4 {
    text-align: center;
    border-top: 2px solid ghostwhite;
    border-bottom: 2px solid ghostwhite;
    margin: 10px 30% 30% 30%
}

footer {
    border-top: 4px double ghostwhite;
    margin: 1em 1em 0;
    width: 100%;
    float: left;
}

    footer p {
        width: 74%;
        float: left;
    }

    footer div.footerIcons {
        width: 25%;
        float: right;
        display: inline-block;
        box-sizing: border-box;
        font-size: 2em;
        text-align: right;
        padding-right: 2em;
    }

    footer i {
        margin: .4em;
    }
