body {
    background-color: black;
    color: ghostwhite;
    margin: 1em 5em 1em 5em;
    border: 4px double ghostwhite;
}

header {
    border-bottom: 4px double ghostwhite;
}

nav {
    border-bottom: 4px double ghostwhite;
}

nav ul li {
    display: inline-block;
    padding-right: 2em;
}

nav a:hover {
    text-decoration: underline;
    color: ghostwhite;
}

a {
    text-decoration: none;
    color: ghostwhite;
}

.headline {
    text-align: center;
}

h1 {
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}

.contactInfo1 {
    text-align: center; 
    border-top: 2px solid ghostwhite;
    border-bottom: 2px solid ghostwhite;
    margin: 0 30% 0 30%
}

.contactInfo2 {
    text-align: center;
    border-top: 2px solid ghostwhite;
    border-bottom: 2px solid ghostwhite;
    margin: 10px 30% 0 30%
}

.contactInfo3 {
    text-align: center;
    border-top: 2px solid ghostwhite;
    border-bottom: 2px solid ghostwhite;
    margin: 10px 30% 30% 30%
}

footer {
    border-top: 4px double ghostwhite;
}